@font-face {
  font-family: 'iconfont';  /* project id 927392 */
  src: url('//at.alicdn.com/t/font_927392_q0hm4m6oga.eot');
  src: url('//at.alicdn.com/t/font_927392_q0hm4m6oga.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_927392_q0hm4m6oga.woff') format('woff'),
  url('//at.alicdn.com/t/font_927392_q0hm4m6oga.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_927392_q0hm4m6oga.svg#iconfont') format('svg');
} 